In [4]:
3-2

1

In [6]:
2**3

8

In [7]:
3*(4+1)

15

In [8]:
a = 1

In [9]:
print(a)

1

In [10]:
a

1

In [11]:
name = "Ernest"

In [12]:
a = 1
b = 2
c = 3

In [1]:
a, b, c = 1, 2, 3

In [2]:
a, b, c = 1, 2,

ValueError: not enough values to unpack (expected 3, got 2)

In [3]:
a, b, c = "Ernest", 25, 2.5

In [4]:
print(a)

Ernest

In [16]:
print(b)

25

In [17]:
print(c)

2.5

In [7]:
print(a,b,c)

Ernest 25 2.5

In [5]:
Name_Person_1 = "Kumar"
_name = "Priya"

In [9]:
print(_name)

Priya

In [10]:
print(Name)

NameError: name 'Name' is not defined

In [1]:
1+1

2

In [3]:
# assign 10 to a variable a

In [4]:
a = 10

In [5]:
print(a)

10

In [6]:
a = 1.2

In [7]:
a = 5
b = 6
c = 7

In [8]:
print(a,b,c)

5 6 7

In [9]:
a, b, c = 10,11,12

In [10]:
print(a,b,c)

10 11 12

In [11]:
a, b = 10, 11, 12

ValueError: too many values to unpack (expected 2)

In [14]:
print(A)

NameError: name 'A' is not defined

In [15]:
# alphabets
# numbers 
# underscore

# variable name can't start with a number

In [12]:
myName
my_name
MyName1
1Myname
_myname

NameError: name 'myName' is not defined

In [13]:
MyName1 = "Ernest"

In [14]:
print(MyName1)

Ernest

In [15]:
print(myName1)

NameError: name 'myName1' is not defined

In [21]:
a = 10

In [22]:
name = "ernest"

In [23]:
type(a)

int

In [24]:
type(name)

str

In [25]:
name1 = 'Kumar'

In [26]:
print(name1)

Kumar

In [18]:
text1 = 'hello    \
word'

In [19]:
print(text1)

hello    word

In [20]:
text1 = 'hello
world'

SyntaxError: EOL while scanning string literal (<ipython-input-20-ab7692887120>, line 1)

In [21]:
para = '''This is a paragraph.
This is the end of my paragraph


'''

In [22]:
print(para)

This is a paragraph.
This is the end of my paragraph

In [36]:
a = 10

In [37]:
print(a)

10

In [38]:
type(a)

int

In [39]:
b = 234234234234234234

In [40]:
print(b)

234234234234234234

In [41]:
type(b)

int

In [44]:
a = 6.743

In [45]:
print(a)

6.743

In [46]:
type(a)

float

In [47]:
# complex numbers

In [49]:
a = 3+4j

In [50]:
print(a)

(3+4j)

In [51]:
type(a)

complex

In [52]:
a = 10

In [53]:
10 == 10

True

In [54]:
"ernest" == 10

False

In [55]:
print(a)

10

In [56]:
a == 10

True

In [57]:
"a" == 10

False

In [58]:
b = a <= 6

In [59]:
print(b)

False

In [60]:
type(b)

bool

In [61]:
True == True

True

In [62]:
True == "True"

False

In [64]:
True == 1

True

In [65]:
False == 0

True

In [66]:
a, b = 10, 10

In [67]:
a == b

True

In [68]:
d = None

In [69]:
print(d)

None

In [70]:
type(d)

NoneType

In [71]:
10 + 11

21

In [72]:
print(a)

10

In [73]:
a * 10

100

In [74]:
a - 10

0

In [75]:
a / 3

3.3333333333333335

In [76]:
10%3

1

In [77]:
100%5

0

In [78]:
100%21

16

In [79]:
3**2

9

In [82]:
a = 10/3

In [83]:
10 /3

3.3333333333333335

In [81]:
10//3

3

In [23]:
a = 10

In [24]:
a = a+1

In [25]:
print(a)

11

In [26]:
a += 1

In [27]:
print(a)

12

In [28]:
a += 10

In [29]:
print(a)

22

In [30]:
a -= 2

In [31]:
print(a)

20

In [43]:
a=40

In [44]:
a/=2

In [36]:
a / 2

10.0

In [45]:
print(a)

20.0

In [95]:
a *= 3

In [96]:
print(a)

30.0

In [97]:
a,b,c = 5,5,6

In [98]:
a == b

True

In [99]:
a == c

False

In [100]:
a != b

False

In [101]:
a < b

False

In [102]:
a <= b

True

In [103]:
a > c

False

In [104]:
c >= a

True

In [105]:
1 + 2*3

7

In [106]:
(1+2)*3

9

In [46]:
a == b and b == c

False

In [47]:
True and True

True

In [48]:
True and False

False

In [49]:
False and False

False

In [50]:
a == b or b == c

False

In [52]:
True or True

True

In [53]:
True or False

True

In [54]:
False or False

False

In [55]:
not a == b

True

In [56]:
not True

False

In [57]:
not False

True

In [58]:
(a==b) & (a==c)

False

In [59]:
(a==b) | (a==c)

False

In [121]:
a == b | a == c

False

In [122]:
a == b | a

True

In [123]:
True == c

False

In [124]:
True and True and False

False

In [126]:
True or False and (True or not False)

True

In [60]:
5 -> 101
1*(2**0)+
0*(2**1)+
1*(2**2)

SyntaxError: invalid syntax (<ipython-input-60-c8d383195a65>, line 1)

In [61]:
0 - 0
1 - 1
2 - 10
3 - 11
4 - 100
5 - 101
6 - 110
7 - 111
8 - 1000

-992

In [129]:
5 & 6

4

In [62]:
101
110
---
100

SyntaxError: invalid syntax (<ipython-input-62-6f648f80485d>, line 3)

In [63]:
5 | 6

7

In [64]:
101
110
---
111

SyntaxError: invalid syntax (<ipython-input-64-efc03edd90ff>, line 3)

In [65]:
17 & 13

1

In [135]:
1 & 4

0

In [ ]:
  1
100
---
000

In [136]:
1|4

5

In [ ]:
  1
100
---
101

In [ ]:
1,1 -> 0
0,0 -> 0
1,0 -> 1
0,1 -> 1

In [137]:
4^5

1

In [ ]:
100
101
---
001

In [148]:
# 2'c compliment
# https://en.wikipedia.org/wiki/Two%27s_complement
~4

-5

In [139]:
~-5

4

In [ ]:
100
011 - 1's compliment
001
100 - 2's compliment

In [140]:
4 << 1

8

In [ ]:
100
1000

In [141]:
4 >> 1

2

In [142]:
6 >> 1

3

In [ ]:
110
11

In [143]:
8 >> 2

2

In [ ]:
1000
10

In [144]:
3 << 2

12

In [ ]:
11
1100

In [145]:
~8

-9

In [ ]:
1000
2**4 - n + 1

In [ ]:
~-8
2**4 -n + 1

In [146]:
~-8

7

In [147]:
~4

-5

In [ ]:
100
2**3 - 4 + 1

In [172]:
a = 5000
b = 5000

In [173]:
a == b

True

In [174]:
a is b

False

In [175]:
c = a

In [176]:
a is c

True

In [177]:
print(c)

5000

In [178]:
c += 1

In [179]:
print(c)

5001

In [180]:
print(a)

5000

In [171]:
id(c)

4379550576

In [181]:
a = 5000600

In [182]:
id(a)

4379551664

In [183]:
c = a

In [184]:
id(c)

4379551664

In [185]:
a, b = 255, 255

In [186]:
id(a)

4323435872

In [187]:
id(b)

4323435872

In [188]:
a, b = 275, 275

In [189]:
id(a)

4379416816

In [190]:
id(b)

4379414928

In [191]:
a = 10

In [192]:
id(a)

4323428032

In [193]:
b = 10

In [194]:
id(b)

4323428032

In [202]:
a = 10

In [203]:
id(a)

4323428032

In [204]:
c = a

In [205]:
id(c)

4323428032

In [206]:
a = 11

In [207]:
id(c)

4323428032

In [208]:
id(a)

4323428064

In [209]:
print(c)

10

In [210]:
# check shared memory location value change

In [211]:
c is not a

True

In [258]:
# Indexing

In [1]:
name = 'Kumar'

In [2]:
print(name)

Kumar

In [3]:
len(name)

5

In [4]:
name = 'Praveen Kumar'

In [5]:
len(name)

13

In [6]:
name[0]

'P'

In [218]:
name[1]

'r'

In [7]:
name[12]

'r'

In [8]:
name[13]

IndexError: string index out of range

In [9]:
print(name)

Praveen Kumar

In [10]:
name[3]

'v'

In [11]:
name[3] = 'b'

TypeError: 'str' object does not support item assignment

In [12]:
id(name)

140586315485104

In [13]:
name = "Prabeen Kumar"

In [14]:
id(name)

140586315491888

In [15]:
print(name)

Prabeen Kumar

In [16]:
name[12]

'r'

In [17]:
name[-1]

'r'

In [235]:
name[-2]

'a'

In [18]:
print(name)

Prabeen Kumar

In [238]:
name[3:6]

'bee'

In [239]:
name[3:]

'been Kumar'

In [240]:
name[:3]

'Pra'

In [241]:
print(name)

Prabeen Kumar

In [19]:
name[12]

'r'

In [22]:
len(name)

13

In [23]:
name[-1]

'r'

In [25]:
name[:len(name)-1]

'Prabeen Kuma'

In [244]:
name[-3:]

'mar'

In [245]:
name[-7:-2]

'n Kum'

In [246]:
name[-1]

'r'

In [247]:
print(name)

Prabeen Kumar

In [248]:
name[::-1]

'ramuK neebarP'

In [250]:
rev_name = name[::-1]

In [251]:
rev_name

'ramuK neebarP'

In [252]:
print(name)

Prabeen Kumar

In [253]:
name[::1]

'Prabeen Kumar'

In [254]:
name[::2]

'PaenKmr'

In [257]:
name[::3]

'Pbnur'

In [255]:
name[::-1]

'ramuK neebarP'

In [256]:
name[::-2]

'rmKneaP'

In [259]:
# List

In [260]:
l1 = [1,2,3,4,5]

In [261]:
print(l1)

[1, 2, 3, 4, 5]

In [262]:
len(l1)

5

In [263]:
l1[0]

1

In [264]:
l1[::-1]

[5, 4, 3, 2, 1]

In [265]:
l1[2:]

[3, 4, 5]

In [266]:
print(l1)

[1, 2, 3, 4, 5]

In [267]:
l1[0] = -11

In [268]:
print(l1)

[-11, 2, 3, 4, 5]

In [269]:
l1.append(6)

In [270]:
print(l1)

[-11, 2, 3, 4, 5, 6]

In [271]:
l1.append(6)

In [272]:
print(l1)

[-11, 2, 3, 4, 5, 6, 6]

In [273]:
l1.count(6)

2

In [274]:
l1.count(7)

0

In [275]:
print(l1)

[-11, 2, 3, 4, 5, 6, 6]

In [276]:
l1.insert(1, 9)

In [277]:
print(l1)

[-11, 9, 2, 3, 4, 5, 6, 6]

In [278]:
l1.insert(0,8)

In [279]:
print(l1)

[8, -11, 9, 2, 3, 4, 5, 6, 6]

In [ ]:
3,4,5

In [280]:
l1.extend([3,4,5])

In [281]:
print(l1)

[8, -11, 9, 2, 3, 4, 5, 6, 6, 3, 4, 5]

In [282]:
l1.append([3,4,5])

In [283]:
print(l1)

[8, -11, 9, 2, 3, 4, 5, 6, 6, 3, 4, 5, [3, 4, 5]]

In [284]:
len(l1)

13

In [285]:
l1[-1]

[3, 4, 5]

In [286]:
l1[-1][1]

4

In [287]:
print(l1)

[8, -11, 9, 2, 3, 4, 5, 6, 6, 3, 4, 5, [3, 4, 5]]

In [288]:
l1.pop()

[3, 4, 5]

In [289]:
print(l1)

[8, -11, 9, 2, 3, 4, 5, 6, 6, 3, 4, 5]

In [290]:
l1.pop(1)

-11

In [291]:
print(l1)

[8, 9, 2, 3, 4, 5, 6, 6, 3, 4, 5]

In [292]:
l1.insert(0,1)

In [293]:
print(l1)

[1, 8, 9, 2, 3, 4, 5, 6, 6, 3, 4, 5]

In [296]:
l1.remove(6)

In [297]:
print(l1)

[1, 8, 9, 2, 3, 4, 5, 6, 3, 4, 5]

In [298]:
l1.append(6)

In [299]:
print(l1)

[1, 8, 9, 2, 3, 4, 5, 6, 3, 4, 5, 6]

In [300]:
l1.sort()

In [301]:
print(l1)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 8, 9]

In [302]:
l1.sort(reverse=True)

In [303]:
print(l1)

[9, 8, 6, 6, 5, 5, 4, 4, 3, 3, 2, 1]

In [304]:
l1.sort(True)

TypeError: sort() takes no positional arguments

In [305]:
l1 = [1,2,3,4,5]
l2 = [1,2,3]

In [306]:
l1 + l2

[1, 2, 3, 4, 5, 1, 2, 3]

In [307]:
l2 * 2

[1, 2, 3, 1, 2, 3]

In [308]:
l2 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [309]:
print(l1)

[1, 2, 3, 4, 5]

In [310]:
print(l2)

[1, 2, 3]

In [311]:
l1.extend(l2)

In [312]:
print(l1)

[1, 2, 3, 4, 5, 1, 2, 3]

In [313]:
l1.pop(1)

2

In [314]:
print(l1)

[1, 3, 4, 5, 1, 2, 3]

In [315]:
l1.remove(1)

In [316]:
print(l1)

[3, 4, 5, 1, 2, 3]

In [317]:
l1.clear()

In [318]:
print(l1)

[]

In [319]:
l1 = [1,2,3,4,5]

In [320]:
l1.index(3)

2

In [321]:
l1.sort()

In [329]:
l1 = [True, 1.233, 87, "Ernest", 3+4j,[1,2,"3"]]

In [330]:
len(l1)

6

In [324]:
type(l1)

list

In [325]:
l1[0]

True

In [326]:
type(l1[0])

bool

In [327]:
l1[3]

'Ernest'

In [328]:
l1[3][0]

'E'

In [331]:
l1 = [True, 1.233, 87, "Ernest", 3+4j]

In [332]:
l1.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [333]:
l1 = ["Kuamr", "Priya", "Ernest"]

In [334]:
l1.sort()

In [335]:
print(l1)

['Ernest', 'Kuamr', 'Priya']

In [336]:
type(l1)

list

In [337]:
type(l1[0])

str

In [338]:
# Tuple

In [339]:
t1 = (1,2,3,4,5)

In [340]:
len(t1)

5

In [342]:
t1[0]

1

In [343]:
t1[0] = 11

TypeError: 'tuple' object does not support item assignment

In [344]:
dict1 = {'name': "Kumar", "age": 23, "height": 176.5}

In [345]:
dict1

{'name': 'Kumar', 'age': 23, 'height': 176.5}

In [346]:
dict1["name"]

'Kumar'

In [347]:
dict1["age"]

23

In [348]:
dict1["height"]

176.5

In [349]:
dict1["height"] = 177.2

In [350]:
dict1["height"]

177.2

In [351]:
dict1.items()

dict_items([('name', 'Kumar'), ('age', 23), ('height', 177.2)])

In [353]:
dict1.keys()

dict_keys(['name', 'age', 'height'])

In [354]:
dict1.values()

dict_values(['Kumar', 23, 177.2])

In [355]:
print(dict1)

{'name': 'Kumar', 'age': 23, 'height': 177.2}

In [356]:
del dict1["name"]

In [357]:
print(dict1)

{'age': 23, 'height': 177.2}

In [358]:
dict1["Name"] = "Kumar"

In [359]:
print(dict1)

{'age': 23, 'height': 177.2, 'Name': 'Kumar'}

In [361]:
dict1[0]=[1,2,3,4,5]

In [362]:
print(dict1)

{'age': 23, 'height': 177.2, 'Name': 'Kumar', 0: [1, 2, 3, 4, 5]}

In [363]:
dict1[0]

[1, 2, 3, 4, 5]

In [364]:
dict1[0][2]

3

In [365]:
l1 = [1,2,1,2,1,1,2,13,3,4,2,3]

In [366]:
set(l1)

{1, 2, 3, 4, 13}

In [367]:
l2 = [1,2,3,4,5,6,2]

In [368]:
set(l2)

{1, 2, 3, 4, 5, 6}

In [369]:
s1 = set(l1)
s2 = set(l2)

In [370]:
s1.difference(s2)

{13}

In [371]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 13}

In [372]:
s1.intersection(s2)

{1, 2, 3, 4}

In [373]:
l3 = list(s2)

In [374]:
print(s2, l3)

{1, 2, 3, 4, 5, 6} [1, 2, 3, 4, 5, 6]

In [375]:
print(l1)

[1, 2, 1, 2, 1, 1, 2, 13, 3, 4, 2, 3]

In [376]:
frozenset(l1)

frozenset({1, 2, 3, 4, 13})

In [377]:
f1 = frozenset(l1)

In [378]:
type(f1)

frozenset

In [ ]:
# byte & byte array

In [406]:
x = b"Bytes objects are immutable sequences of single bytes"

In [407]:
type(x)

bytes

In [408]:
print(x)

b'Bytes objects are immutable sequences of single bytes'

In [409]:
x = bytes('Python, bytes', 'utf8')

In [410]:
print(x)

b'Python, bytes'

In [411]:
x.decode()

'Python, bytes'

In [412]:
type(x.decode())

str

In [413]:
x = bytearray("Python bytearray", "utf8")

In [416]:
print(x)

bytearray(b'Python bytearray')

In [417]:
#bytearray's are mutable

In [418]:
x[11:15] = b" object"

In [419]:
print(x)

bytearray(b'Python byte objecty')

In [400]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

In [401]:
x is y

False

In [402]:
x is z

True

In [403]:
print(z)

['apple', 'banana']

In [404]:
x.append("mango")

In [405]:
print(z)

['apple', 'banana', 'mango']

In [393]:
# https://stackoverflow.com/questions/306313/is-operator-behaves-unexpectedly-with-integers

In [397]:
# membership operator

In [420]:
print(z)

['apple', 'banana', 'mango']

In [421]:
"apple" in z

True

In [422]:
"strawberry" in z

False

In [423]:
"apple" not in z

False

In [424]:
# conditionals

In [426]:
x = 8

In [427]:
if x > 5:
    print("x is greater than 5")

x is greater than 5

In [428]:
x = 3

In [430]:
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is not greater than 5

In [431]:
x = 5

In [433]:
if x > 5:
    print("x is greater than 5")
elif x < 5:
    print("x is not greater than 5")
else:
    print("x is equal to 5")

x is equal to 5

In [436]:
if x >= 5:
    if x == 5:
        print("x is equal to 5")
    else:
        print("x is greater than 5")
else:
    print("x is less than 5")

x is equal to 5

In [437]:
# Loops

In [438]:
fruits = ["apple", "banana", "mango"]

In [439]:
for fruit in fruits:
    print(fruit)

apple
banana
mango

In [441]:
for i in fruits:
    print(i)

apple
banana
mango

In [443]:
print(fruits)

['apple', 'banana', 'mango']

In [445]:
combined_fruits = " ".join(fruits)

In [446]:
print(combined_fruits)

apple banana mango

In [447]:
l1 = [1,2,3,4,5]

In [454]:
l2 = []
for i in l1:
    l2.append(i*i)

In [455]:
l2

[1, 4, 9, 16, 25]

In [457]:
l3 = [i*i for i in l1]

In [458]:
print(l3)

[1, 4, 9, 16, 25]

In [459]:
l1 = [1,2,3,4,5]

In [460]:
4%2

0

In [461]:
l2 = []
for i in l1:
    if i%2 == 0:
        l2.append(i*i)

In [462]:
print(l2)

[4, 16]

In [463]:
l3 = [i*i for i in l1 if i%2==0]

In [464]:
print(l3)

[4, 16]

In [465]:
l2 = []
for i in l1:
    if i >2:
        if i%2 == 0:
            l2.append(i*i)

In [466]:
print(l2)

[16]

In [468]:
l2 = []
for i in l1:
    if (i > 2) & (i%2==0):
        l2.append(i*i)

In [469]:
print(l2)

[16]

In [478]:
l3 = [i*i for i in l1 if i > 2 if i%2==0]

In [479]:
l3

[16]

In [480]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [481]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [486]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [487]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [488]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [493]:
i = 1
while i<11:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [495]:
i = 1
while True:
    print(i)
    if i > 10:
        break
    i += 1

1
2
3
4
5
6
7
8
9
10
11

In [500]:
i = 1
while i <11:
    if i%2==0:
        i += 1
        continue
    print(i)
    i += 1

1
3
5
7
9

In [502]:
len(l1)

5

In [503]:
def add_2num(a,b):
    return a+b

In [504]:
add_2num(3,4)

7

In [505]:
def sub_2num(a,b):
    return a-b

In [506]:
sub_2num(5,2)

3

In [509]:
sub_2num(a=5,b=2)

3

In [510]:
sub_2num(b=2,a=5)

3

In [517]:
def add_2num():
    a = input("Input first number")
    a = int(a)
    b = input("Input second number")
    b = int(b)
    print('The sum is',a+b)

In [518]:
add_2num()

Input first number2
Input second number3
The sum is 5

In [521]:
def welcome(name):
    print("Welcome", name," to python class")

In [523]:
welcome("Kumar")

Welcome Kumar  to python class

In [524]:
def welcome():
    print("welcome to python class")

In [525]:
def add_10(a):
    return a+10

In [526]:
add_10(5)

15

In [530]:
x = lambda a: a+10

In [531]:
x(5)

15

In [532]:
y = lambda a,b: a+b

In [533]:
y(2,3)

5

In [534]:
z = lambda : print("welcome!")

In [535]:
z()

welcome!

In [536]:
def find_largest(a,b,c):
    if a > b:
        if a > c:
            print(a)
        else:
            print(c)
    else:
        if b > c:
            print(b)
        else:
            print(c)

In [537]:
find_largest(11,2,17)

17

In [538]:
def double_(a):
    y = lambda x: x*2
    return y(a)

In [539]:
double_(3)

6

In [540]:
l1

[1, 2, 3, 4, 5]

In [541]:
# File handling

In [567]:
f = open("myFile.txt", "x")

In [568]:
f.write("This is my file!")

16

In [569]:
f.close()

In [570]:
f = open("myFile.txt", "r")

In [571]:
f.read()

'This is my file!'

In [572]:
f.write("Write something")

UnsupportedOperation: not writable

In [573]:
f.close()

In [574]:
f = open("myFile.txt", "a")

In [575]:
f.write("This is a new line")

18

In [576]:
f.close()

In [577]:
f = open("myFile.txt", "r")

In [578]:
f.read()

'This is my file!This is a new line'

In [579]:
f.close()

In [580]:
f = open("myFile.txt", "a")

In [584]:
f.write("\nThis is actually a new line")

28

In [585]:
f.close()

In [586]:
f = open("myFile.txt", "r")

In [587]:
f.read()

'This is my file!This is a new line\nThis is actually a new line'

In [588]:
f.close()

In [589]:
f = open("myFile.txt", "r")

In [590]:
f.readlines()

['This is my file!This is a new line\n', 'This is actually a new line']

In [591]:
f.close()

In [592]:
f = open("myFile.txt", "r")

In [593]:
for i in f.readlines():
    print(i)

This is my file!This is a new line

This is actually a new line

In [594]:
f.close()