In [93]:
l1=[1,2,3,4,5,6]
l2=[6,5,4,3,2,1]

In [94]:
for i in range(6):
    if (l2[i]>l1[i]):
        print("l1 is greater than l2")
    else:
            print("l1 is smaller than l2")

l1 is greater than l2
l1 is greater than l2
l1 is greater than l2
l1 is smaller than l2
l1 is smaller than l2
l1 is smaller than l2

In [30]:
#another method:

In [32]:
for i,num in enumerate(l1):
    message="l1is greater than l2"if l1[i]>l2[i] else "l1 is less then l2"
    print(message)

l1 is less then l2
l1 is less then l2
l1 is less then l2
l1is greater than l2
l1is greater than l2
l1is greater than l2

In [22]:
s1=(10,20,30,40,50)

In [25]:
for i in s1:
    i=i+5
    print(i)

15
25
35
45
55

In [33]:
s2=10,20,30,40,50

In [34]:
type(s2)

tuple

In [35]:
#other method

In [42]:
data=10,20,30,40,50

In [51]:
print("tuple before adding 5:")
for item in data:
    print(item,end=",")

print("\ntuple after adding 5:")
result=(item+5 for item in data)
for item in result:
    print (item,end=", ")

tuple before adding 5:
10,20,30,40,50,
tuple after adding 5:
15, 25, 35, 45, 55,

In [55]:
def add_10():
    x=input("enter the no :")
    x=int(x)
    x=x+10
    print(x)
add_10()

enter the no :10
20

#Another method

In [56]:
def add_10():
    num=int(input("enter the no :"))
    num=num+10
    return num

In [57]:
add_10()

enter the no :10

20

In [58]:
def check_odd_even(num):
    print("odd number" if num%2!=0 else "even number")

In [59]:
check_odd_even(21)

odd number

In [60]:
#another method

In [61]:
def check_odd_even():
    num=int(input("enter the no :"))
    
    if num%2!=0:
        print("even")
        else:

In [62]:
#python oops assignment

In [76]:
class BankAccount:

    def __init__(self):
        self.bal=0
    def check_balance(self):
        print("the current balance is:",self.bal)
    def deposit(self,amount):
        self.bal=self.bal+amount
        print("the amount deposited is :",amount)
    def withdrawn(self,wamt):
        if self.bal>=wamt:
            self.bal=self.bal-wamt
        else:
            print("insufficient amount")

In [82]:
ob1=BankAccount()

In [83]:
ob1.check_balance()

the current balance is: 0

In [84]:
ob1.deposit(8000)

the amount deposited is : 8000

In [85]:
ob1.withdrawn(300)
ob1.check_balance()#we have call 3 times that's why result 7700

the current balance is: 7700

In [1]:
list=[2,4,5]

In [2]:
list

[2, 4, 5]