In [4]:
import pandas as pd
import numpy as np

In [2]:
s=pd.Series()
s

/home/kumarmai/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

In [5]:
data=np.array(['a','b','c','d'])
print(data,"\n")

['a' 'b' 'c' 'd']

In [8]:
data=np.array(['a','b','c','d'])
data[2]

'c'

In [ ]:
data=[1,2,3,4,5]

In [9]:
df=pd.read_csv("data.txt")

In [10]:
df

   deepak  23  age  23.1
0  lucky   24  age    24