In [1]:
import pandas as pd

In [9]:
def range_series(start=1,end=10):
    return pd.Series(range(start,end+1))

In [10]:
range_series()

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [11]:
range_series(5)

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

In [12]:
range_series(3,9)

0    3
1    4
2    5
3    6
4    7
5    8
6    9
dtype: int64

# create a dict which shouls have key and value as parameter and convert it into data frame

In [35]:
def create_dataframe(Key,values):
    data_dict={Key[index]:values[index] for index in range (0,len(Key))}
    return pd.DataFrame(data_dict)

In [36]:
create_dataframe(['one','two'],[['x','y'],['c','d']])

  one two
0   x   c
1   y   d

In [47]:
def concatenate_data_frame(df1,df2):
    return pd.concat([df1,df2]).reset_index(drop=True)

In [48]:
concatenate_data_frame(
create_dataframe(['one','two'],[['x','y'],['c','d']]),
create_dataframe(['one','two'],[['l','m'],['n','o']])
    
)

  one two
0   x   c
1   y   d
2   l   n
3   m   o

In [49]:
df=pd.read_csv('cars.csv')

In [50]:
df.head()

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [51]:
df.describe()

,S.No,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,29.000000,32.000000,32.000000,32.000000,32.0000
mean,16.500000,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.674828,0.437500,0.406250,3.687500,2.8125
std,9.380832,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.780394,0.504016,0.498991,0.737804,1.6152
min,1.000000,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,8.750000,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.870000,0.000000,0.000000,3.000000,2.0000
50%,16.500000,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.420000,0.000000,0.000000,4.000000,2.0000
75%,24.250000,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.600000,1.000000,1.000000,4.000000,4.0000
max,32.000000,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   S.No        32 non-null     int64
 1   Unnamed: 1  32 non-null     object
 2   mpg         32 non-null     float64
 3   cyl         32 non-null     int64
 4   disp        32 non-null     float64
 5   hp          32 non-null     int64
 6   drat        32 non-null     float64
 7   wt          32 non-null     float64
 8   qsec        29 non-null     float64
 9   vs          32 non-null     int64
 10  am          32 non-null     int64
 11  gear        32 non-null     int64
 12  carb        32 non-null     int64
dtypes: float64(5), int64(7), object(1)
memory usage: 3.4+ KB

In [55]:
df.loc[4,'mpg']

18.7

In [57]:
df.count()

S.No          32
Unnamed: 1    32
mpg           32
cyl           32
disp          32
hp            32
drat          32
wt            32
qsec          29
vs            32
am            32
gear          32
carb          32
dtype: int64

In [58]:
df.mean()

S.No     16.500000
mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.674828
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [59]:
df.max()

S.No                  32
Unnamed: 1    Volvo 142E
mpg                 33.9
cyl                    8
disp                 472
hp                   335
drat                4.93
wt                 5.424
qsec                22.9
vs                     1
am                     1
gear                   5
carb                   8
dtype: object

In [60]:
df.corr()

,S.No,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
S.No,1.000000,0.084699,-0.028882,-0.022048,0.242295,0.240952,-0.162419,-0.376658,-0.109162,0.354905,0.400825,0.174576
mpg,0.084699,1.000000,-0.852162,-0.847551,-0.776168,0.681172,-0.867659,0.401294,0.664039,0.599832,0.480285,-0.550925
cyl,-0.028882,-0.852162,1.000000,0.902033,0.832447,-0.699938,0.782496,-0.579882,-0.810812,-0.522607,-0.492687,0.526988
disp,-0.022048,-0.847551,0.902033,1.000000,0.790949,-0.710214,0.887980,-0.406922,-0.710416,-0.591227,-0.555569,0.394977
hp,0.242295,-0.776168,0.832447,0.790949,1.000000,-0.448759,0.658748,-0.690114,-0.723097,-0.243204,-0.125704,0.749812
drat,0.240952,0.681172,-0.699938,-0.710214,-0.448759,1.000000,-0.712441,0.128973,0.440278,0.712711,0.699610,-0.090790
wt,-0.162419,-0.867659,0.782496,0.887980,0.658748,-0.712441,1.000000,-0.137198,-0.554916,-0.692495,-0.583287,0.427606
qsec,-0.376658,0.401294,-0.579882,-0.406922,-0.690114,0.128973,-0.137198,1.000000,0.717275,-0.288955,-0.207942,-0.616964
vs,-0.109162,0.664039,-0.810812,-0.710416,-0.723097,0.440278,-0.554916,0.717275,1.000000,0.168345,0.206023,-0.569607
am,0.354905,0.599832,-0.522607,-0.591227,-0.243204,0.712711,-0.692495,-0.288955,0.168345,1.000000,0.794059,0.057534
gear,0.400825,0.480285,-0.492687,-0.555569,-0.125704,0.699610,-0.583287,-0.207942,0.206023,0.794059,1.000000,0.274073
carb,0.174576,-0.550925,0.526988,0.394977,0.749812,-0.090790,0.427606,-0.616964,-0.569607,0.057534,0.274073,1.000000

# how to check highest correlation

In [81]:
def get_max_correlated_col(col_name):
    
    correlation_matrix=df.corr()
    return correlation_matrix[col_name].sort_values(ascending=False).index[1]

In [82]:
get_max_correlated_col('mpg')

'drat'